<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/images/site.webmanifest">
<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ site.url }}{{ site.baseurl }}/assets/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<script async defer data-domain="raharuu.github.io/blog" src="https://plausible.io/js/plausible.js"></script>

<meta name="google-site-verification" content="JWKezRD-cHudOo7YW96kB7-w-f3-FHA7RrJE8Lootqs" />

<!-- end custom head snippets -->
